<div class="flexrow competence_row">
    <div class="flexcol">
        <ol class="inventory-list competence-list">
            <li class="inventory-header flexrow">
                <div class="item-name flexrow">{{ localize "ARIA.ui.skill" }}</div>
                {{#if (or (isAriaTypeSetting "contemporain") (isEnabled "hideCompLink"))}}
                {{else}}
                <div class="item-detail competence-col-width">{{ localize "ARIA.ui.link" }}</div>
                {{/if}}  
                <div class="item-detail competence-col-width">{{ localize "ARIA.ui.score" }}</div>
                {{#if (isEnabled "showBonusCol")}}
                <div class="item-detail competence-col-width">Bonus</br>Malus</div>
                {{/if}} 
				{{#if (isEnabled "allowEditComp")}}
                <div class="item-controls competence-col-width">
                    <a class="item-control item-create new-capa " title="Ajouter une compétence"><i class="fas fa-plus"></i></a>   
                {{#if (isAriaTypeSetting "aria")}}
                    <a class="item-control item-create aria-compendium-pack" title="Ajouter une compétence du compendium" data-pack="aria.competences" data-open="0">
                {{/if}}
                {{#if (isAriaTypeSetting "stars")}}
                    <a class="item-control item-create aria-compendium-pack" title="Ajouter une compétence du compendium" data-pack="aria.competencesstars" data-open="0">
                {{/if}}
                {{#if (isAriaTypeSetting "contemporain")}}
                    <a class="item-control item-create aria-compendium-pack" title="Ajouter une compétence du compendium" data-pack="aria.competencescont" data-open="0">
                {{/if}}
                        <i class="fas fa-folder-plus"></i>
                    </a>
                </div>
				{{/if}}
            </li>
            {{#each (getCompetences actor.items) as |competence id|}}
                <ol class="item-list">
                    <li class="item flexrow" data-item-id="{{_id}}" data-item-type="item">
                        <div class="rollable no-wrap" title="{{competence.name}}" data-rolling-value="{{competence.system.score}}" data-rolling-bonus="{{competence.system.bonus}}" data-roll-type="competencycheck">
                            <div class="flexrow no-wrap ">
                                <div class="icon_d100">
                                </div>
                                <div class="field-label no-wrap left competence_name">{{competence.name}}
                                    <span class="comp_tooltiptext">
                                        <h1>{{competence.name}} :</h1>{{{competence.system.description}}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        {{#if (or (isAriaTypeSetting "contemporain") (isEnabled "hideCompLink"))}}
                        {{else}}
                        <div class="item-detail competence-link competence-col-width">{{#if competence.system.link1}}{{competence.system.link1}}{{/if}} / {{#if competence.system.link2}}{{competence.system.link2}}{{/if}}</div>
                        {{/if}}  

                        <div class="item-detail flexrow competence-col-width">
                            <input class="field-value flex1 capa_score" name="competence.system.score" type="text" value="{{competence.system.score}}" placeholder="" data-dtype="Number"/>
                            <div class="flex1 capa_percent">%</div>
                        </div>
                         {{#if (isEnabled "showBonusCol")}}
                        <div class="item-detail flexrow competence-col-width">
                            <input class="field-value flex1 capa_bonus" name="competence.system.bonus" type="text" value="{{competence.system.bonus}}" placeholder="0" data-dtype="Number"/>
                        </div>
                        {{/if}}
						{{#if (isEnabled "allowEditComp")}}
                        <div class="item-controls competence-col-width">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
						{{/if}}
                    </li>
                </ol>
            {{/each}}
        </ol>
    </div>
    
        <div class="flexcol">
        <ol class="inventory-list competence-list">
            <li class="inventory-header flexrow">
                <div class="item-name flexrow">{{ localize "ARIA.ui.specialskill" }}</div>
                {{#if (or (isAriaTypeSetting "contemporain") (isEnabled "hideCompLink"))}}
                {{else}}
                <div class="item-detail competence-col-width">{{ localize "ARIA.ui.link" }}</div>
                {{/if}}  
                <div class="item-detail competence-col-width">{{ localize "ARIA.ui.score" }}</div>
                 {{#if (isEnabled "showBonusCol")}}
                <div class="item-detail competence-col-width">Bonus</br>Malus</div>
                {{/if}}  
                <div class="item-controls competence-col-width">
                    <a class="item-control item-create new-capa-spe" title="Ajouter une compétence spéciale"><i class="fas fa-plus"></i></a>    
                </div>
            </li>
            {{#each (getCompetencesSpe actor.items) as |competence id|}}
                <ol class="item-list">
                    <li class="item flexrow" data-item-id="{{_id}}" data-item-type="item">
                        <div class="flex1 rollable no-wrap" title="{{competence.name}}" data-rolling-value="{{competence.system.score}}" data-rolling-bonus="{{competence.system.bonus}}" data-roll-type="competencycheck">
                            <div class="flexrow no-wrap ">
                                <div class="icon_d100">
                                </div>
                                <div class="field-label no-wrap left competence_name">{{competence.name}}
                                    <span class="compspe_tooltiptext">
                                        <h1>{{competence.name}} :</h1>{{{competence.system.description}}}
                                    </span>
                                </div>
                            </div>
                        </div>

                        {{#if (or (isAriaTypeSetting "contemporain") (isEnabled "hideCompLink"))}}
                        {{else}}
                        <div class="item-detail competence-link competence-col-width">{{#if competence.system.link1}}{{competence.system.link1}}{{/if}} / {{#if competence.system.link2}}{{competence.system.link2}}{{/if}}</div>
                        {{/if}}
                        <div class="item-detail flexrow competence-col-width">
                            <input class="field-value flex1 capa_score" name="competence.system.score" type="text" value="{{competence.system.score}}" placeholder="" data-dtype="Number"/>
                            <div class="flex1 capa_percent">%</div>
                        </div>
                        {{#if (isEnabled "showBonusCol")}}
                        <div class="item-detail flexrow competence-col-width">
                            <input class="field-value flex1 capa_bonus" name="competence.system.bonus" type="text" value="{{competence.system.bonus}}" placeholder="0" data-dtype="Number"/>
                        </div>
                        {{/if}}
                        <div class="item-controls competence-col-width">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                </ol>
            {{/each}}
        </ol>
    </div>

</div>