<div class="flexrow no-wrap currencies" style="max-height:20px">
    <div class="flex1 center">Bourse</div>
    <div class="flex1 center coin">
        <i title="Couronne" class="fas fa-coins" style="color:goldenrod"></i>
        <input class="field-value coin-field" name="data.currency.gp.qty" type="number" value="{{actor.data.currency.gp.qty}}" placeholder="Couronne" data-dtype="Number"/>
    </div>
    <div class="flex1 center coin">
        <i title="Orbe" class="fas fa-coins" style="color:silver"></i>
        <input class="field-value center coin-field" name="data.currency.sp.qty" type="number" value="{{actor.data.currency.sp.qty}}" placeholder="Orbe" data-dtype="Number"/>
    </div>
    <div class="flex1 center coin">
        <i title="Sceptre" class="fas fa-coins" style="color:saddlebrown"></i>
        <input class="field-value coin-field" name="data.currency.cp.qty" type="number" value="{{actor.data.currency.cp.qty}}" placeholder="Sceptre" data-dtype="Number"/>
    </div>
        <div class="flex1 center coin">
        <i title="Roi" class="fas fa-coins" style="color:dimgray"></i>
        <input class="field-value coin-field" name="data.currency.fp.qty" type="number" value="{{actor.data.currency.fp.qty}}" placeholder="Roi" data-dtype="Number"/>
    </div>
</div>

    <ol class="inventory-list">
        <li class="inventory-header flexrow">
            <h3 class="item-name flexrow">Items</h3>
            <div class="item-detail">Qté</div>
            <div class="item-detail">Equiper</div>
            <div class="item-controls">
                <a class="item-control item-create new-item" title="Ajouter un objet"><i class="fas fa-plus"></i></a>    
                <a class="item-control item-create compendium-pack" data-pack="aria.items" data-open="0" title="Ajouter un objet"><i class="fas fa-folder-plus"></i></a>
            </div>
        </li>
        {{#if (notEmpty (getInventory actor.items))}}
        {{#each (getInventory actor.items) as |item id|}}
            {{> "systems/aria/templates/actors/character/parts/inventory/character-inventory-item.hbs" item}}
        {{/each}}
        {{else}}
            <p>Votre inventaire est vide.</p>
        {{/if}}
    </ol>

