{{#if (isEnabled "showBourse")}}
<div class="flexrow no-wrap currencies" style="max-height:20px">
    {{#if (isAriaTypeSetting "aria")}}
     <div class="flex1 center">Bourse</div>
    <div class="flex1 center coin">
        <i title="Couronne" class="fas fa-coins" style="color:goldenrod"></i>
        <input class="field-value coin-field" name="system.currency.gp.qty" type="number" value="{{system.currency.gp.qty}}" placeholder="Couronne" data-dtype="Number"/>
    </div>
    <div class="flex1 center coin">
        <i title="Orbe" class="fas fa-coins" style="color:silver"></i>
        <input class="field-value center coin-field" name="system.currency.sp.qty" type="number" value="{{system.currency.sp.qty}}" placeholder="Orbe" data-dtype="Number"/>
    </div>
    <div class="flex1 center coin">
        <i title="Sceptre" class="fas fa-coins" style="color:saddlebrown"></i>
        <input class="field-value coin-field" name="system.currency.cp.qty" type="number" value="{{system.currency.cp.qty}}" placeholder="Sceptre" data-dtype="Number"/>
    </div>
        <div class="flex1 center coin">
        <i title="Roi" class="fas fa-coins" style="color:dimgray"></i>
        <input class="field-value coin-field" name="system.currency.fp.qty" type="number" value="{{system.currency.fp.qty}}" placeholder="Roi" data-dtype="Number"/>
    </div>

    {{else}}

    <div class="flex4 center"> </div>
    <div class="flex4 center"> </div>
    {{#if (isAriaTypeSetting "stars")}}
    <div class="flex1 center">Crédits</div>
    {{/if}}
    {{#if (isAriaTypeSetting "contemporain")}}
    <div class="flex1 center">Francs</div>
    {{/if}} 
    
    <div class="flex2 center coin">
         <input class="field-value coin-field" name="system.currency.fp.qty" type="number" value="{{system.currency.fp.qty}}" placeholder="0" data-dtype="Number"/>
        <i title="Credits" class="fas fa-coins" style="color:dimgray"></i>
    </div>
    {{/if}} 
</div>
{{/if}}

    <ol class="inventory-list">
        <li class="inventory-header flexrow">
            <div class="item-name flexrow"></div>
            <div class="item-detail">Qté</div>
            <div class="item-detail">Equiper</div>
             {{!-- <div class="item-detail">Roll</div>--}}
            <div class="item-controls">
                <a class="item-control item-create new-item" title="Ajouter un objet"><i class="fas fa-plus"></i></a>   
        {{#if (isAriaTypeSetting "aria")}}
                <a class="item-control item-create aria-compendium-pack" data-pack="aria.arme" data-open="0" title="Ajouter un objet">
        {{/if}}
        {{#if (isAriaTypeSetting "stars")}}
                <a class="item-control item-create aria-compendium-pack" data-pack="aria.objetsstars" data-open="0" title="Ajouter un objet">
        {{/if}}
        {{#if (isAriaTypeSetting "contemporain")}}
                <a class="item-control item-create aria-compendium-pack" data-pack="aria.objetscont" data-open="0" title="Ajouter un objet">
        {{/if}} 
                    <i class="fas fa-folder-plus"></i>
                </a>
            </div>
        </li>
        {{#if (notEmpty (getInventory actor.items))}}
        
        {{#each (getArraySubCategorywithItems actor.items)}}
                {{#if (notEmpty this.items)}}
                    <li class="inventory-header flexrow"><div class="item-name center flexrow">{{this.value}}</div></li>
                {{#each this.items}}
                        {{> "systems/aria/templates/actors/character/parts/inventory/character-inventory-item.hbs" this}}
                    {{/each}}
                {{/if}}
        {{/each}}

     

        {{else}}
            <p>Votre inventaire est vide.</p>
        {{/if}}
    </ol>

