<h3 class="form-header">{{localize "ARIA.ui.properties"}}</h3>
<input class="field-value" name="data.key" type="hidden" value="{{data.key}}" placeholder="{{ localize "ARIA.ui.key" }}" data-dtype="String">
<div class="form-group stacked">
    <div class="form-fields">
        <label>{{localize "ARIA.ui.score"}}</label><input name="data.score" type="text" value="{{data.score}}" placeholder="{{localize "ARIA.ui.score"}}" data-dtype="Number">
    </div>

    <div class="form-fields">
        <label>{{localize "ARIA.ui.score"}}</label><select name="data.link1" data-type="String" style="width:100%">
            {{#select data.link1}}
                <option value="">{{localize "ARIA.None"}}</option>
                <option value="{{localize "ARIA.stats.str.abbrev"}}">{{localize "ARIA.stats.str.label"}}</option>
                <option value="{{localize "ARIA.stats.dex.abbrev"}}">{{localize "ARIA.stats.dex.label"}}</option>
                <option value="{{localize "ARIA.stats.end.abbrev"}}">{{localize "ARIA.stats.end.label"}}</option>
                <option value="{{localize "ARIA.stats.int.abbrev"}}">{{localize "ARIA.stats.int.label"}}</option>
                <option value="{{localize "ARIA.stats.cha.abbrev"}}">{{localize "ARIA.stats.cha.label"}}</option>
            {{/select}}
        </select>
    </div>

    <div class="form-fields">
        <label>{{localize "ARIA.ui.score"}}</label><select name="data.link2" data-type="String" style="width:100%">
            {{#select data.link2}}
                <option value="">{{localize "ARIA.None"}}</option>
                <option value="{{localize "ARIA.stats.str.abbrev"}}">{{localize "ARIA.stats.str.label"}}</option>
                <option value="{{localize "ARIA.stats.dex.abbrev"}}">{{localize "ARIA.stats.dex.label"}}</option>
                <option value="{{localize "ARIA.stats.end.abbrev"}}">{{localize "ARIA.stats.end.label"}}</option>
                <option value="{{localize "ARIA.stats.int.abbrev"}}">{{localize "ARIA.stats.int.label"}}</option>
                <option value="{{localize "ARIA.stats.cha.abbrev"}}">{{localize "ARIA.stats.cha.label"}}</option>
            {{/select}}
        </select>
    </div>

</div>
