<div class="form-group">
    <label>{{localize "ARIA.ui.properties"}}</label>
    <div class="form-fields">
        <label class="checkbox"> <input type="checkbox" name="system.properties.equipable" {{checked system.properties.equipable}}> {{localize "ARIA.ui.equipable"}}</label>
{{#if (not system.properties.unique)}}
        <label class="checkbox"> <input type="checkbox" name="system.properties.stackable" {{checked system.properties.stackable}}> {{localize "ARIA.ui.stackable"}}</label>
{{/if}}
{{#if (not system.properties.stackable)}}
        <label class="checkbox"> <input type="checkbox" name="system.properties.unique"    {{checked system.properties.unique}}> Unique </label>
{{/if}}
        <label class="checkbox"><input type="checkbox" name="system.properties.2h" {{checked system.properties.2h}}> {{localize "ARIA.ui.2Handed"}}</label>

{{#if (not (or (equals system.subtype "melee") (equals system.subtype "ranged")) ) }}
        <label class="checkbox"><input type="checkbox" name="system.properties.weapon" {{checked system.properties.weapon}}> {{localize "ARIA.properties.damage"}}</label>
        <label class="checkbox"><input type="checkbox" name="system.properties.ranged" {{checked system.properties.ranged}}> {{localize "ARIA.properties.ranged"}}</label>
 {{/if}}
 {{#if (not (or (equals system.subtype "shield") (equals system.subtype "armor")) ) }}
        <label class="checkbox"><input type="checkbox" name="system.properties.protection" {{checked system.properties.protection}}> {{localize "ARIA.properties.protection"}}</label>
 {{/if}}
   </div>
</div>
{{#if system.properties.equipable}}
    <div class="form-group">
        <label>{{localize "ARIA.ui.slot"}}</label>
        <div class="form-fields">
            <select name="system.slot" data-type="String" style="width:100%">
                {{selectOptions optionsBodyDrop selected=system.slot localize=true}}
            </select>
        </div>
    </div>
{{/if}}
<div class="form-group">
    <label>{{ localize "ARIA.ui.price" }}</label>&nbsp; <input type="number" name="system.price" value="{{system.price}}" data-dtype="Number"/>
</div>
<div class="form-group">
    <label>{{ localize "ARIA.ui.rarity" }}</label>&nbsp; 
    <select name="system.rarity" data-type="String" style="width:100%">
        {{selectOptions optionsRarityDrop selected=system.rarity localize=true}}
    </select>
</div>
{{#if system.properties.stackable}}
    <div class="form-group">
        <label>{{ localize "ARIA.ui.quantity" }}</label>
        <div class="form-fields">
            <input type="number" name="system.qty" value="{{system.qty}}" placeholder="{{localize "ARIA.ui.quantity"}}" data-dtype="Number"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "ARIA.ui.qtymax"}}</label>
        <div class="form-fields">
            <input name="system.qtymax" type="text" value="{{system.qtymax}}" placeholder="{{localize "ARIA.placeholders.qtymax"}}" data-dtype="Number">
        </div>
    </div>
{{/if}}