<h3 class="form-header">Bonus raciaux</h3>
<input class="field-value" name="data.key" type="hidden" value="{{item.data.key}}" placeholder="{{ localize "ARIA.ui.key" }}" data-dtype="String">

<div class="form-group">
    <label>{{localize "ARIA.stats.str.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="data.bonuses.str" type="text" value="{{numberFormat data.bonuses.str decimals=0 sign=true}}" placeholder="{{localize "ARIA.stats.str.label"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "ARIA.stats.dex.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="data.bonuses.dex" type="text" value="{{numberFormat data.bonuses.dex decimals=0 sign=true}}" placeholder="{{localize "ARIA.stats.dex.label"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "ARIA.stats.end.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="data.bonuses.end" type="text" value="{{numberFormat data.bonuses.end decimals=0 sign=true}}" placeholder="{{localize "ARIA.stats.end.label"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "ARIA.stats.int.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="data.bonuses.int" type="text" value="{{numberFormat data.bonuses.int decimals=0 sign=true}}" placeholder="{{localize "ARIA.stats.int.label"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "ARIA.stats.cha.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="data.bonuses.cha" type="text" value="{{numberFormat data.bonuses.cha decimals=0 sign=true}}" placeholder="{{localize "ARIA.stats.cha.label"}}" data-dtype="Number">
    </div>
</div>

<h3 class="form-header">Ressources</h3>

<ol class="inventory-list">
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">Capacités raciales</h3>
        <div class="item-controls">
            <a class="item-control item-create compendium-pack" data-pack="aria.capacities" data-open="0" title="Ajouter une capacité"><i class="fas fa-plus"></i>&nbsp; Add</a>
        </div>
    </li>
    {{#each (getEmbeddedItems "capacity" data.capacities) as |capacity id|}}
        <ol class="item-list">
            <li class="item flexrow" data-item-id="{{capacity._id}}" data-item-type="capacity" data-key="{{capacity.data.key}}" draggable="true">
                <div class="item-name flexrow">
                    <div class="item-image" style="background-image: url('{{capacity.img}}')"></div>
                    <h4>{{capacity.name}}</h4>
                </div>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        </ol>
    {{/each}}
</ol>
