<!--
<h3 class="form-header">Bonus</h3>
<input class="field-value" name="data.key" type="hidden" value="{{item.data.key}}" placeholder="{{ localize "ARIA.ui.key" }}" data-dtype="String">

<div class="form-group">
    <label>{{localize "ARIA.stats.str.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="data.bonuses.str" type="text" value="{{numberFormat data.bonuses.str decimals=0 sign=true}}" placeholder="{{localize "ARIA.stats.str.label"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "ARIA.stats.dex.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="data.bonuses.dex" type="text" value="{{numberFormat data.bonuses.dex decimals=0 sign=true}}" placeholder="{{localize "ARIA.stats.dex.label"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "ARIA.stats.end.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="data.bonuses.end" type="text" value="{{numberFormat data.bonuses.end decimals=0 sign=true}}" placeholder="{{localize "ARIA.stats.end.label"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "ARIA.stats.int.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="data.bonuses.int" type="text" value="{{numberFormat data.bonuses.int decimals=0 sign=true}}" placeholder="{{localize "ARIA.stats.int.label"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "ARIA.stats.cha.label"}}</label>
    <div class="form-fields">
        <input class="field-value" name="data.bonuses.cha" type="text" value="{{numberFormat data.bonuses.cha decimals=0 sign=true}}" placeholder="{{localize "ARIA.stats.cha.label"}}" data-dtype="Number">
    </div>
</div>
-->

<h3 class="form-header">Compétences Spéciales</h3>

 <div class="flexcol">
        <ol class="inventory-list competence-list">
            <li class="inventory-header flexrow">
                <h3 class="item-name flexrow">{{ localize "ARIA.ui.skill" }}</h3>
                <div class="item-detail">{{ localize "ARIA.ui.score" }}</div>
                <div class="item-controls">
                </div>
            </li>
            {{#each this.data.competences}}
                <ol class="item-list">
                    <li class="item flexrow" data-item-id="{{_id}}" data-item-type="competence">
                        <div class="rollable no-wrap" title="{{name}}" data-rolling-value="{{data.score}}" data-roll-type="competencycheck">
                            <div class="flexrow no-wrap ">
                                <div class="field-label no-wrap left competence_name">{{name}}
                                    <span class="comp_tooltiptext"><h1>{{name}} :</h1>{{{data.description}}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-detail flexrow">
                            <div class="field-value flex1 capa_score">{{data.score}}</div>
                            <div class="flex1 capa_percent">%</div>
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                </ol>
            {{/each}}
        </ol>
    </div>
