
<div class="attrvertalign">
{{#each actor.data.stats as |stat id|}}
<div class="flexrow no-wrap">
    <div class="caracname">
            <div class="flex1 rollable no-wrap" data-rolling="data.stats.{{id}}" data-roll-type="skillcheck">
                <div class="flexrow no-wrap ">
                    <div class="icon_d100" title="{{ localize stat.label }}">
                    </div>
                    <div class="field-label no-wrap " title="{{ localize stat.label }}">
                        {{ localize stat.label }}
                    </div>
                </div>
            </div>
    </div>
    <div class="flex1 center cell caracvalue">
        <input class="field-value" name="data.stats.{{id}}.base" type="text" value="{{stat.base}}" data-dtype="Number"/>
    </div>
</div>
{{/each}}
</div>