
<div class="attrvertalign">

{{> "systems/aria/templates/actors/character/parts/stats/attributes/character-attributes-str.hbs"}}
{{> "systems/aria/templates/actors/character/parts/stats/attributes/character-attributes-dex.hbs"}}
{{> "systems/aria/templates/actors/character/parts/stats/attributes/character-attributes-end.hbs"}}
{{> "systems/aria/templates/actors/character/parts/stats/attributes/character-attributes-int.hbs"}}
    {{#if (isAriaTypeSetting "aria")}}
    {{> "systems/aria/templates/actors/character/parts/stats/attributes/character-attributes-cha.hbs"}}
    {{/if}}
    {{#if (isAriaTypeSetting "stars")}}
    {{> "systems/aria/templates/actors/character/parts/stats/attributes/character-attributes-intu.hbs"}}
    {{/if}}

    {{#if (isAriaTypeSetting "aria")}}
    <div class="flexcol origine">
    {{/if}}
    {{#if (isAriaTypeSetting "stars")}}
    <div class="flexcol">
    {{/if}}
        <div class="flex1 center">
            <span class="field-label">Origine</span>
        </div>

        {{#if (isAriaTypeSetting "aria")}}
                <div class="flex2 center cell drop-field compendium-pack" data-pack="aria.origines" data-open="0">
        {{/if}}
        {{#if (isAriaTypeSetting "stars")}}
                <div class="flex2 center cell drop-field compendium-pack" data-pack="aria.originesstars" data-open="0">
        {{/if}}
        {{#if (isAriaTypeSetting "contemporain")}}
               <div class="flex2 center cell drop-field compendium-pack" data-pack="aria.originescont" data-open="0">
        {{/if}} 
            {{#if (getOrigines actor.items)}}
                {{#with (getOrigines actor.items)}}
                    <span class="flex5 field-value origine_name">{{name}}</span>
                    <div class="origines-controls item" data-item-id="{{_id}}" style="padding-right:5px;">
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-times"></i></a>
                    </div>
                {{/with}}
            {{else}}
                    <span class="flex5 field-value origine_name">Inconnue</span>
            {{/if}}
        </div>
    </div>

 {{#if (isAriaTypeSetting "stars")}}  
    <div class="flexcol no-wrap">
        <div id="mental_icon" class="flex1 center">
            <input class="field-label-icon-mental field-value" name="data.attributes.mental.value" type="text" value="{{actor.data.attributes.mental.value}}" placeholder="0" data-dtype="Number"/>
        </div>
        <div class="flex1 center">
            <div class="field-label">{{ localize 'ARIA.attributes.mental.label' }}</div>
        </div>
    </div>
    {{/if}} 
</div>