
<div class="attrvertalign">
{{#each actor.data.stats as |stat id|}}
<div class="flexrow no-wrap">
    <div class="caracname">
            <div class="flex1 rollable no-wrap" data-rolling="data.stats.{{id}}" data-roll-type="skillcheck" data-rolling-value="{{stat.base}}">
                <div class="flexrow no-wrap ">
                    <div class="icon_d100" title="{{ localize stat.label }}">
                    </div>
                    <div class="field-label no-wrap left" title="{{ localize stat.label }}">
                        {{ localize stat.label }}
                    </div>
                </div>
            </div>
    </div>
    <div class="flex1 center cell caracvalue">
        <input class="field-value" name="data.stats.{{id}}.base" type="text" value="{{stat.base}}" data-dtype="Number"/>
    </div>
</div>
{{/each}}

    <div class="flexcol origine">
        <div class="flex1 center">
            <span class="field-label">Origine</span>
        </div>
        <div class="flex2 center cell drop-field compendium-pack" data-pack="aria.origines" data-open="0">
            {{#if (getOrigines actor.items)}}
                {{#with (getOrigines actor.items)}}
                    <span class="flex5 field-value origine_name">{{name}}</span>
                    <div class="origines-controls item" data-item-id="{{_id}}" style="padding-right:5px;">
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-times"></i></a>
                    </div>
                {{/with}}
            {{else}}
                    <span class="flex5 field-value origine_name">Inconnue</span>
            {{/if}}
        </div>
    </div>
    
</div>