<div class="flexrow no-wrap description_row">

    <div class="sidebar flex1">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    </div>

    <div class="flexcol flex3">
        <div class="flexrow">
            <div class="flexcol">
                <div class="flexrow">
                    <div class="flex1 center">
                        <span class="field-label">{{ localize 'ARIA.details.gender' }}</span>
                    </div>
                    <div class="flex4 cell">
                        <input class="field-value" name="data.details.gender" type="text" value="{{actor.data.details.gender}}" placeholder="" data-dtype="String"/>
                    </div>
                </div>
                <div class="flexrow">
                    <div class="flex1 center">
                        <span class="field-label">{{ localize "ARIA.details.age" }}</span>
                    </div>
                    <div class="flex4 cell">
                        <input class="field-value" name="data.details.age" type="text" value="{{actor.data.details.age}}" placeholder="" data-dtype="String"/>
                    </div>
                </div>
            </div>
                <div class="flexcol">
                <div class="flexrow">
                    <div class="flex1 center">
                        <span class="field-label">{{ localize "ARIA.details.height" }}</span>
                    </div>
                    <div class="flex4 cell">
                        <input class="field-value" name="data.details.height" type="text" value="{{actor.data.details.height}}" placeholder="" data-dtype="String"/>
                    </div>
                </div>
                        <div class="flexrow">
                    <div class="flex1 center">
                        <span class="field-label">{{ localize "ARIA.details.weight" }}</span>
                    </div>
                    <div class="flex4 cell">
                        <input class="field-value" name="data.details.weight" type="text" value="{{actor.data.details.weight}}" placeholder="" data-dtype="String"/>
                    </div>
                </div>
            </div>
            <div class="flexcol">
                <div class="flexrow">
                    <div class="flex1 center">
                        <span class="field-label">{{ localize "ARIA.details.eyes" }}</span>
                    </div>
                    <div class="flex4 cell">
                        <input class="field-value" name="data.details.eyes" type="text" value="{{actor.data.details.eyes}}" placeholder="" data-dtype="String"/>
                    </div>
                </div>
                <div class="flexrow">
                    <div class="flex1 center">
                        <span class="field-label">{{ localize "ARIA.details.hair" }}</span>
                    </div>
                    <div class="flex4 cell">
                        <input class="field-value" name="data.details.hair" type="text" value="{{actor.data.details.hair}}" placeholder="" data-dtype="String"/>
                    </div>
                </div>
            </div>

            <div class="flexcol">
                <div class="flex1 center">
                    <span class="field-label">Origine</span>
                </div>
                <div class="flex2 center cell drop-field compendium-pack" data-pack="aria.species" data-open="0">
                    {{#if (getSpecies actor.items)}}
                        {{#with (getSpecies actor.items)}}
                            <span class="flex5 field-value origine_name">{{name}}</span>
                            <div class="species-controls item" data-item-id="{{_id}}" style="padding-right:5px;">
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-times"></i></a>
                            </div>
                        {{/with}}
                    {{else}}
                            <span class="flex5 field-value origine_name">Inconnue</span>
                    {{/if}}
                </div>
            </div>

        </div>

        <h3 class="form-header">{{ localize "ARIA.details.description" }}</h3>
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
</div>