<div class="flexrow no-wrap">
    <div class="caracname">
            <div class="flex1 rollable no-wrap" data-rolling="data.stats.intu" data-roll-type="skillcheck" data-rolling-value="{{system.stats.intu.base}}">
                <div class="flexrow no-wrap ">
                    <div class="icon_d100" title="{{ localize system.stats.intu.label }}">
                    </div>
                    <div class="field-label no-wrap left" title="{{ localize system.stats.intu.label }}">
                        {{ localize system.stats.intu.label }}
                    </div>
                </div>
            </div>
    </div>
    <div class="flex1 center cell caracvalue">
        <input class="field-value" name="system.stats.intu.base" type="text" value="{{system.stats.intu.base}}" data-dtype="Number"/>
    </div>
</div>
