<div class="flexrow no-wrap">
    <div class="caracname">
            <div class="flex1 rollable no-wrap" data-rolling="data.stats.str" data-roll-type="skillcheck" data-rolling-value="{{data.stats.str.base}}">
                <div class="flexrow no-wrap ">
                    <div class="icon_d100" title="{{ localize data.stats.str.label }}">
                    </div>
                    <div class="field-label no-wrap left" title="{{ localize data.stats.str.label }}">
                        {{ localize data.stats.str.label }}
                    </div>
                </div>
            </div>
    </div>
    <div class="flex1 center cell caracvalue">
        <input class="field-value" name="data.stats.str.base" type="text" value="{{data.stats.str.base}}" data-dtype="Number"/>
    </div>
</div>
