<div class="chat-card  aria-roll-chat" data-actor-id="{{actor.id}}">

    <div class="roll-card regular-roll-card">
        <header class="card-header flexrow">
            <img src="{{actor.img}}" title="{{actor.name}}"/>
            
            <div class="flexcol">
                <div class="flexrow">
                    <h2>Jet d'initiative = {{result}} </h2>
                </div>
            </div>
            
        </header>
    </div>

    <div class="blind-roll-card flexcol roll-card">

        <header class="card-header flexrow">
            <img src="{{actor.img}}" title="{{actor.name}}"/>

            <div class="flexcol">
                <div class="flexrow">
                    <h2>Jet d'initiative = <i><b>?</b></i></h2>
                </div>

                <i><b>MJ uniquement</b></i>
            </div>

        </header>

    </div>

</div>
