<div class="chat-card aria-roll-chat" data-actor-id="{{actor.id}}">

    <div class="roll-card regular-roll-card">
        <header class="card-header flexrow">
            <img src="{{actor.img}}" title="{{actor.name}}"/>
            
            <div class="flexcol">
                <div class="flexrow">
                    <h2>Jet = {{result}}</h2>
                </div>
                <div class="flexrow">
                    <div class="flexcol">
                    <b>Dégats</b><br>
                    <b>{{label}}</b>
                    <br>
                    {{formula}}
                    </div>
                    <img class="item-img" src="{{img}}" title="{{label}}"/>
                </div>
            </div>
            
        </header>
     </div>


     <div class="blind-roll-card flexcol roll-card">

        <header class="card-header flexrow">
            <img src="icons/svg/mystery-man.svg" title="Inconnu"/>

            <div class="flexcol">
                <div class="flexrow">
                    <h2>Jet = <i><b>?</b></i></h2>
                </div>
                <div class="flexrow">
                    <div class="flexcol">
                    <strong class="item-name">Caché</strong>
                    <br>
                    {{formula}}
                    </div>
                </div>
            </div>
        </header>

    </div>
</div>
